/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

html, body {
    height: 100%;
    font-family: 'Risque', cursive;
    padding: 0;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.navbar-fixed-bottom {
   position: fixed;
   bottom: 0;

   margin-left:0;
}
.navbar-inverse .navbar-inner {
   background: rgba(153,81,41,0.85);
   border-color: rgb(204,101,35);
}
.navbar-inverse .navbar-inner .brand,
.navbar-inverse .navbar-inner .nav li {
   color: #FFF;
}

.navbar .nav.pull-right {
   margin-right: 40px;
}

.loading {
   display: none;
}
